# template for the connection URL
# replace placeholders (USER, PASSWORD, HOST, PORT, DATABSE) with respective values
# remove :PASSWORD if you dont have a password
DATABASE_URL = "postgresql://USER:PASSWORD@HOST:PORT/DATABASE"